html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.header, .content > *, .footer {
    padding: 0 10%;
}
body {
    font-family: Roboto, sans-serif;
}
.header {
   background-color: #1F2937;
   color: #ffffff; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;
}
ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.signup-section {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #ffffff;
    justify-content: space-between;
}
.signup-section h2 {
    font-size: 2em;
    font-weight: 900;
}
.signup-image {
    width: 300px;
    height: 150px;
    background-color: #909090;
    border-radius: 2px;
    flex: 0 1 auto;
}
.subtext {
    font-size: 1em;
    font-weight: 0;
    color: #818080;
}
.signup-btn {
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #427bf7;
    border: none;
    width: 80px;
    margin-top: 10px;
}
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.information h1 {
    font-weight: 900;
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    margin-bottom: 20px;
}
.cards {
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 1 auto;
    width: 150px;
    height: 200px;
    text-align: center;
}
.img-container {
    border: 3px solid lightblue;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    flex: 1;
}
.card > .subtext {
    margin-top: 5px;
}
.quote-section {
    background-color: #cfcfcf;
    padding-top: 80px;
    padding-bottom: 80px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #686868;
}
.author {
text-align: end;
font-size: 24px;
font-weight: 600;
}
.popup-section {
padding-top: 30px;
padding-bottom: 30px;
}
.popup-container {
    background-color: rgb(43, 107, 243);
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    border-radius: 10px;
    flex: 1;
}
.text-container {
    color: #ffffff;
}
.popup-heading {
    font-size: 24px;
}
.popup-container .subtext {
    color: #d3d0d0;
    font-size: 15px;
}
.popup-btn {
    padding: 10px 15px;
    background-color: rgb(43, 107, 243);
    border-radius: 15px;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.footer {
    background-color: #1F2937;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}